ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection="****"
Jwt__Key="****"
Jwt__Issuer="Tafa3ul"
Jwt__Audience="Tafa3ulClient"
Jwt__ExpirationMinutes=60
Jwt__RefreshTokenExpirationDays=7